@import './base.css';

#app {
  max-width: 1140px;
  margin: 0 auto;
  font-weight: normal;
}

body {
  margin: 0;
  min-height: 100vh;
  /*background: radial-gradient(circle at left top, #19A7E0 50%, #F09D51 50%) fixed;*/
  background: radial-gradient(circle at left top, #F09D5150 10%, #19A7E0 300%) fixed;
}

.glass {
  background: rgba(255, 255, 255, 0.3); /* Полупрозрачный белый */
  backdrop-filter: blur(10px); /* Эффект размытия */
  -webkit-backdrop-filter: blur(10px); /* Поддержка для WebKit-браузеров */
  border: 1px solid rgba(255, 255, 255, 0.4); /* Полупрозрачный обвод */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Мягкая тень */
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}

::-webkit-scrollbar:hover {
  opacity: 1;
}